body{
  background-color: #ffffd9;
}
button{
  border-radius: 5px;
  border-color: yellow;
}
input{
  border-radius: 5px;
  border-color: gray;
}
ul li{
  font-style: italic;
  margin-left: 5px;
}
h3{
  margin-left: 25px;
}
